<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <h2>Pixelate</h2>
  <div>
    <p>  _________________ </p>
    <p>[ _________________ ]</p>
    <p>[ _________________ ]</p>
    <p>[ _________________ ]</p>
    <p>[ __Insert Image___ ]</p>
    <p>[ _________________ ]</p>
    <p>[ _________________ ]</p>
    <p>[ _________________ ]</p>
    <p>[ _________________ ]</p>
    <p>[___________________]</p>

  </div>


</body>
</html>
